<launch>
    <arg name="robot" default="fetch"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rmp_fetch)/worlds/rmp.world"/>
        <!-- more default parameters can be changed here -->
    </include>

    <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />

    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
    <arg name="map_file"
        value="$(find rmp_fetch)/map/map_world1.yaml"/>
    </include>
    <include file="$(find fetch_moveit_config)/launch/move_group.launch"></include>

    <node pkg="rviz" type="rviz" name="$(anon rivz)"
        args="-d $(find rmp_fetch)/config/visualize.rviz">
    </node>
</launch>


